
body{
    background-color:#7CDBD5;
    color:black;
}

.jumbotron{
    background-color:#F53240;

}
nav {
    background-color:#02C8A7;
}

.display-4 {
    text-align: center;
    font-family:verdana;
    font-size:40px;
    border-radius:10px;
    background-color:transparent;
}

.col{
    float:left;
    margin-left:20px;
    background-color:#02C8A7;
}

.desc{
    font-size:30px;
    font-family: georgia;
}