html {
    font-family:helvetica;
}

h1 {
    color:orange;
}

span {
    font-weight: normal;
    font-size: 50%;
    text-decoration: line-through;
}

.feature {
    color:red;
    font-style: italic;
}

a:link {
    text-decoration: none;
}

.main{
    background-color: lightblue;
    box-shadow: 10px 10px 10px;
    border-radius: 20px;
}
.color {
    border-style: dotted;
    border-color: green;
    border-width:3px;
}

.quote {
    border-style: dotted;
    border-color: green;
    border-width:3px;
}

.penguin {
    border-style: dotted;
    border-color: green;
    border-width:3px;
    background-image: url(http://goo.gl/e2x4ZK);
    background-repeat: no-repeat;
    padding-bottom:160px;
}

.div {
    border-style: dotted;
    border-color: green;
    border-width:3px;
    padding-bottom:20px;
}

.list {
    border-style: dotted;
    border-color: green;
    border-width:3px;
}

section {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom:20px;
}

.primary {
    background-color:yellow;
}

.noindent {
    text-indent: -40px;
}

.pink {
    background-color:pink;
}

.aqua {
    background-color:#7fffd4;
}

.lemon {
    background-color:#fff44f;
}

.grape {
    background-color:  #6f2da8;
}

.inline {
 float:left;
 margin:2px;
}

.olist{
    list-style: lower-alpha;
}